<!DOCTYPE html>
<html>
<head>
  <title>MaybeConfirm</title>
  <%= stylesheet_link_tag    "maybe_confirm/application", :media => "all" %>
  <%= javascript_include_tag "maybe_confirm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
