<% if current_user.present? %>
  <%= javascript_tag do %>
    window.unconfirmUserSettings = <%= raw unconfirm_user_settings.to_json %>;
  <% end %>
  <div id="unconfirm_dialog" style="display:none" title="">
    <div class="uc-dialog-body"></div>
    <br>
    <br>
    <%= form_tag '/unconfirm/user_settings/0', :method => :put, :remote => true, :role => 'form' do |f| %>
      <div class="well">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="true" class="uc-dont-show-check">
            <span class="uc-dont-show-label"></span>
          </label>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
